/* styles/globals.css */
import "bootstrap/dist/css/bootstrap.min.css";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}
.text-highlight-primary {
    position: relative;
    display: inline-block;
  }
  
  .text-highlight-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 122, 255, 0.1);
    z-index: -1;
  }

  
  /* Optional custom styles */
@media (max-width: 991.98px) {
  .navbar-collapse {
    padding: 1rem 0;
  }
  
  .dropdown-menu {
    border: none;
    padding-left: 1rem;
  }
  
  .nav-item {
    padding: 0.5rem 0;
  }
}

.svg-icon {
  display: inline-block;
  line-height: 1;
}

.svg-icon {
  color: rgb(55 125 255) !important;
}


.sidebar {
  width: 250px;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  overflow-y: auto;
}



.navbar {
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px); 
  height: 60px;
  background-color: #1e3a8a; 
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.main-content {
  margin-left: 250px; 
  padding: 80px 20px; 
  background-color: #f8f9fa;
}
